* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  /* background-color: black;
  padding: 0; */
  background-image: url("./img/halloween.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  font-family: cursive;
  margin: 0;
  color: white;
}

.big-text {
  font-size: 10vmin;
  line-height: 1;
  margin: 0 10vmin;
}

h1 {
  /* font-size: 5rem; */
  font-size: 6vmin;
  letter-spacing: 1vmin;
  margin-top: -1rem;
}

h3 {
  /* font-size: 2rem; */
  font-size: 3vmin;
  margin-top: 8rem;
  /* letter-spacing: 1rem; */
}

.countdown-container {
  margin-top: 2rem;
  display: flex;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 3vmin;
}
